# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env

# Django
db.sqlite3
*.log
backend/staticfiles/*
!backend/staticfiles/.gitkeep
backend/static/react/*
!backend/static/react/.gitkeep

# React
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
